In [2]:
from pandas_datareader import data as pdr
import yfinance as yf
import pandas as pd

In [2]:
yf.pdr_override()
pdr.get_data_yahoo("AMZN", start="2020-03-10", end="2024-04-18").to_csv("amazon_stock.csv")

[*********************100%%**********************]  1 of 1 completed

In [3]:
layoffs = pd.read_csv(r"layoffs/layoffs.csv")
layoffs

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised
0,The Good Glamm Group,New Delhi,Retail,150.0,0.15,2024-04-18,Unknown,India,180.0
1,Stability AI,London,AI,20.0,NaN,2024-04-18,Unknown,United Kingdom,174.0
2,ConnectWise,Tampa Bay,Other,NaN,NaN,2024-04-17,Acquired,United States,1.0
3,Google,SF Bay Area,Consumer,NaN,NaN,2024-04-17,Post-IPO,United States,26.0
4,Rivian,Detroit,Transportation,NaN,0.01,2024-04-17,Post-IPO,United States,10700.0
...,...,...,...,...,...,...,...,...,...
3563,Service,Los Angeles,Travel,NaN,1.00,2020-03-16,Seed,United States,5.1
3564,HopSkipDrive,Los Angeles,Transportation,8.0,0.10,2020-03-13,Unknown,United States,45.0
3565,Panda Squad,SF Bay Area,Consumer,6.0,0.75,2020-03-13,Seed,United States,1.0
3566,Tamara Mellon,Los Angeles,Retail,20.0,0.40,2020-03-12,Series C,United States,90.0
3567,EasyPost,Salt Lake City,Logistics,75.0,NaN,2020-03-11,Series A,United States,12.0

In [4]:
symbols = pd.read_csv(r"nasdaq_screener.csv")
symbols

,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry
0,A,Agilent Technologies Inc. Common Stock,$139.23,1.7100,1.243%,4.080209e+10,United States,1999.0,701427,Industrials,Biotechnology: Laboratory Analytical Instruments
1,AA,Alcoa Corporation Common Stock,$36.575,0.6350,1.767%,6.567370e+09,United States,2016.0,2937634,Industrials,Aluminum
2,AACG,ATA Creativity Global American Depositary Shares,$0.92,0.0192,2.131%,2.944012e+07,China,2008.0,11093,Real Estate,Other Consumer Services
3,AACI,Armada Acquisition Corp. I Common Stock,$11.74,0.1200,1.033%,0.000000e+00,United States,2021.0,9738,Finance,Blank Checks
4,AACIW,Armada Acquisition Corp. I Warrant,$0.14,0.0000,0.00%,0.000000e+00,United States,2021.0,10271,Finance,Blank Checks
...,...,...,...,...,...,...,...,...,...,...,...
7130,ZVRA,Zevra Therapeutics Inc. Common Stock,$4.79,0.0400,0.842%,2.080114e+08,United States,NaN,132607,Health Care,Biotechnology: Pharmaceutical Preparations
7131,ZVSA,ZyVersa Therapeutics Inc. Common Stock,$5.54,-0.2000,-3.484%,4.207552e+06,United States,2022.0,368385,Health Care,Biotechnology: Pharmaceutical Preparations
7132,ZWS,Zurn Elkay Water Solutions Corporation Common ...,$31.74,0.1100,0.348%,5.481398e+09,United States,2012.0,303610,Industrials,Industrial Machinery/Components
7133,ZYME,Zymeworks Inc. Common Stock,$9.165,0.1650,1.833%,6.467578e+08,United States,NaN,361393,Health Care,Biotechnology: Pharmaceutical Preparations
7134,ZYXI,Zynex Inc. Common Stock,$11.02,-0.5200,-4.506%,3.501625e+08,United States,NaN,76089,Health Care,Biotechnology: Electromedical & Electrotherape...

In [7]:
# attempt to map stock symbols on dataframe
layoffs["join"] = 1
symbols["join"] = 1
df_full = layoffs.merge(symbols, on="join").drop("join", axis=1)

symbols.drop("join", axis=1, inplace=True)

df_full['match'] = df_full.apply(
    lambda x: x["Name"].find(x['company']), axis=1).ge(0)

print(df_full[df_full['match']])

           company       location        industry  total_laid_off  \
34023       Rivian        Detroit  Transportation             NaN
42154     Take-Two  New York City        Consumer           579.0
56404        Tesla         Austin  Transportation         14000.0
58747       Criteo          Paris       Marketing           140.0
81250       Fabric  New York City       Logistics            30.0
...            ...            ...             ...             ...
25428489   Service    Los Angeles          Travel             NaN
25428562   Service    Los Angeles          Travel             NaN
25428596   Service    Los Angeles          Travel             NaN
25428973   Service    Los Angeles          Travel             NaN
25429105   Service    Los Angeles          Travel             NaN

          percentage_laid_off        date     stage        country  \
34023                    0.01  2024-04-17  Post-IPO  United States
42154                    0.05  2024-04-16  Post-IPO  United States
56404                    0.10  2024-04-15  Post-IPO  United States
58747                    0.04  2024-04-12  Post-IPO         France
81250                    0.15  2024-04-11  Series C  United States
...                       ...         ...       ...            ...
25428489                 1.00  2020-03-16      Seed  United States
25428562                 1.00  2020-03-16      Seed  United States
25428596                 1.00  2020-03-16      Seed  United States
25428973                 1.00  2020-03-16      Seed  United States
25429105                 1.00  2020-03-16      Seed  United States

          funds_raised Symbol  ...  Last Sale Net Change  % Change  \
34023          10700.0   RIVN  ...     $10.01     0.1800    1.831%
42154           4100.0   TTWO  ...    $145.87     2.8000    1.957%
56404          20200.0   TSLA  ...  $181.3099     1.2999    0.722%
58747             61.0   CRTO  ...    $37.685     0.5350     1.44%
81250            336.0   GIFI  ...      $7.16     0.0600    0.845%
...                ...    ...  ...        ...        ...       ...
25428489           5.1   TUSK  ...      $3.06    -0.0600   -1.923%
25428562           5.1    UHS  ...    $167.97    -1.9200    -1.13%
25428596           5.1    UPS  ...    $146.81    -0.4100   -0.278%
25428973           5.1    WST  ...    $363.82    -4.6400   -1.259%
25429105           5.1    ZIM  ...    $12.845     0.3250    2.596%

            Market Cap        Country IPO Year    Volume  \
34023     9.784271e+09  United States   2021.0  40793521
42154     2.488344e+10  United States   1997.0    484130
56404     5.782328e+11  United States   2010.0  68416530
58747     2.081230e+09         France   2013.0    150677
81250     1.159707e+08  United States   1997.0     60003
...                ...            ...      ...       ...
25428489  1.467015e+08  United States   2016.0     24380
25428562  1.129117e+10  United States      NaN    315784
25428596  1.251780e+11  United States   1999.0   1309859
25428973  2.650180e+10  United States      NaN    285402
25429105  1.545082e+09            NaN   2021.0   2167672

                          Sector                                 Industry  \
34023     Consumer Discretionary                       Auto Manufacturing
42154                 Technology  Computer Software: Prepackaged Software
56404     Consumer Discretionary                       Auto Manufacturing
58747     Consumer Discretionary                              Advertising
81250                Industrials                       Metal Fabrications
...                          ...                                      ...
25428489                  Energy              Oilfield Services/Equipment
25428562             Health Care              Hospital/Nursing Management
25428596  Consumer Discretionary            Air Freight/Delivery Services
25428973             Health Care               Medical/Dental Instruments
25429105  Consumer Discretionary                    Marine Transportation

         match
34023     True
42154     True
56404     True
58747     True
81250     True
...        ...
25428489  True
25428562  True
25428596  True
25428973  True
25429105  True

[1794 rows x 21 columns]

In [8]:
df_full[df_full['match']].to_csv("layoffs_and_stock_info.csv")

Pull stock data for companies

In [11]:
layoffs_and_stock_df = pd.read_csv("layoffs_and_stock_info.csv")

In [19]:
layoffs_and_stock_df.drop(columns="Unnamed: 0").loc[layoffs_and_stock_df["Country"]==layoffs_and_stock_df["country"]].drop_duplicates(subset="Name").to_csv('layoffs_and_stock_info_CLEANED.csv')

In [ ]:
start_date = "2020-03-10"
end_date = "2024-04-18"